rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow read-write access to the ChamaState document for synchronization
    match /system/chamaState {
      allow read, write: if true;
    }
  }
}
